export PATH="./bin:$PATH"
export PG_USERNAME=postgres
export PG_PASSWORD=thingsearch
export PG_PORT=5433
export PG_DATABASE=thingisearch
export ELASTICSEARCH_URL="https://elastic:g4wvlfrnwcvkjvl5twpzfmnx@127.0.0.1:9200"
