<div class="ui large vertical menu">
  <div class="item">
    <h2 class="ui header"><img src="/packs/media/images/pluck-logo-06e81870.svg" class="ui tiny image"> Pluck</h2>
  </div>
  <div class="item">
    <form class="ui form">
      <div class="ui fluid icon input"><input name="q" placeholder="Search for model..." type="text" value=""><i
          aria-hidden="true" class="search icon"></i></div>
    </form>
  </div>  
</div>
