//
//  details.scss
//  pluck
// 
//  Created by Wess Cope (wess@frenzylabs.com) on 04/27/20
//  Copyright 2020 FrenzyLabs LLC.
//

// @import "../../../../assets/stylesheets/mixins";

#details {
  margin-top: 40px;
  padding-bottom: 100px;
  
  .details-header {
    display: flex;
    flex-direction: row;
    align-items: center;

    .title-line {
      flex: 1;
      padding-right: 5px;

      h1 {
        margin: 14px 0 0 0;
        padding: 0;
      }
    }
  }

  .details-button {
    &:first-child {
      margin-right: 6px;
      
    }

    &:last-child {
      margin-left: 6px;
    }
  }

  .details-body {
    padding: 20px;

    background: #fff;
    border-radius: 4px;
  }

  .details-image {
    margin-top: 30px;
    border-radius: 4px;
  }

  .details-description {
    margin-top: 20px;
    font-size: 16px;
  }

  .details-tag  {
    h2 {
      margin: 0 0 4px 0;
      padding: 0;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
